<a href="https://colab.research.google.com/github/vinaykumar123458/NNDL/blob/main/NNDLAssignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mount Google Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Import required libraries**

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

# **Import Data**

In [3]:
data = pd.read_excel('/content/drive/MyDrive/NNDL/Assign1data.xlsx')
data.head()

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

# **Data normalization**

In [4]:
scaler = MinMaxScaler()
num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])
data

           X         Y
0   0.223183  0.995346
1   0.209343  0.990692
2   0.458478  0.955207
3   0.906574  1.000000
4   0.628028  0.963933
5   0.861592  0.026178
6   0.910035  0.727167
7   0.000000  0.914485
8   0.775087  0.000000
9   0.489619  0.584061
10  0.200692  0.521815
11  0.927336  0.573008
12  0.643599  0.579988
13  0.532872  0.602094
14  0.202422  0.565445
15  0.060554  0.578825
16  0.069204  0.579407
17  0.271626  0.602094
18  0.823529  0.592787
19  0.747405  0.606166
20  0.456747  0.574171
21  0.474048  0.617219
22  0.200692  0.559046
23  0.676471  0.502036
24  1.000000  0.605585
25  0.237024  0.617219
26  0.242215  0.620710
27  0.340830  0.600931
28  0.382353  0.567772
29  0.619377  0.670739

# **Data split to training and testing**

In [5]:
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

# **Initialization of required variables**

In [6]:
m = 1
c = -1
eta = 0.001
max_iters = 200

# **BGD Algorithm**

In [7]:
m_deriv = 0
c_deriv = 0
del_m = 0
del_c = 0
for iter in range(max_iters):
  i = 0
  for i in range(len(data)):
    x = data.X[i]
    y = data.Y[i]
    m_deriv = m_deriv + (y-m*x-c)*x
    c_deriv = c_deriv + (y-m*x-c)
  m_deriv = -m_deriv/len(data)
  c_deriv = -c_deriv/len(data)
  del_m = -eta * m_deriv
  del_c = -eta * c_deriv
  m = m + del_m
  c = c + del_c
print("Model parameter m and c are : ",m,c)

Model parameter m and c are :  1.0763775718105246 -0.8020812825903869

# **Model prediction on training data**

In [8]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

# **Model prediction on testing data**

In [9]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

# **Error metrics calculation**

In [10]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.990182513779283
Mean square error 0.9804614105942601
Mean absolute error 0.9198184302488328

In [11]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 1.1163901311861932
Mean square error 1.2463269250099258
Mean absolute error 0.9001082607069568

# **Deployment**

In [12]:
X=input('enter X value : ')
print('X =',X)
Y=m*float(X)+c
print('Y =',Y)

enter X value : 59
X = 59
Y = 62.704195454230565