<a href="https://colab.research.google.com/github/vinaykumar123458/NNDL/blob/main/NNDLAssignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mount Google Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Import required libraries**

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

# **Import Data**

# **This data consists of 2 columns, Y is load at a particular hour in a day, where X is the load at same hour and day but in previous week.**

In [3]:
data = pd.read_excel('/content/drive/MyDrive/NNDL/Assign2data.xlsx')
data.head()

            X           Y
0  5551.82208  4931.26380
1  4983.17184  4775.53968
2  4888.39680  4713.81120
3  5072.95872  4689.02628
4  5196.25980  4844.75040

# **Data normalization**

In [4]:
scaler = MinMaxScaler()
num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])
data

           X         Y
0   0.252510  0.072876
1   0.067539  0.026027
2   0.036710  0.007456
3   0.096745  0.000000
4   0.136852  0.046849
5   0.281614  0.265476
6   0.773400  0.439739
7   1.000000  0.483540
8   0.505628  0.549381
9   0.493560  0.475521
10  0.186796  0.276168
11  0.146334  0.374179
12  0.073167  0.296802
13  0.000000  0.296708
14  0.455887  0.224583
15  0.455887  0.265851
16  0.448940  0.401379
17  0.467295  0.427640
18  0.861576  0.981570
19  0.856100  1.000000
20  0.745766  0.873288
21  0.566068  0.721769
22  0.512169  0.537938
23  0.236386  0.348856

# **Data split to training and testing**

In [5]:
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

# **Initialization of required variables**

In [6]:
m = 1
c = -1
eta = 0.01
max_iters = 100
Gm_square = 0
Gc_square = 0
E = 0.0001

# **Adagrad + SGD Algorithm**

In [7]:
m_deriv = 0
c_deriv = 0
for iter in range(max_iters):
  i = 0
  for i in range(len(data)):
    x = data.X[i]
    y = data.Y[i]
    m_deriv = -(y-m*x-c)*x
    c_deriv = -(y-m*x-c)
    Gm_square = Gm_square + (m_deriv * m_deriv)
    Gc_square = Gc_square + (c_deriv * c_deriv)
    m = m - (eta/math.sqrt(Gm_square + E)) * m_deriv
    c = c - (eta/math.sqrt(Gc_square + E)) * c_deriv
print("Model parameter m and c are : ",m,c)

Model parameter m and c are :  1.466944371964944 -0.35329832094033875

# **Model prediction on training data**

In [8]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

# **Model prediction on testing data**

In [9]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

# **Error metrics calculation**

In [10]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.2852395487558898
Mean square error 0.08136160017446363
Mean absolute error 0.22927361747623004

In [11]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.4154798153001997
Mean square error 0.17262347692188804
Mean absolute error 0.37200572870244314

# **Deployment**

In [12]:
X=input('enter X value : ')
print('X = ',X)
Y=m*float(X)+c
print('Y = ',Y)

enter X value : 2
X =  2
Y =  2.580590422989549